.container {
  background-color: #f0f5fd;
  display: flex;
  height: 260px;
  flex-direction: column;
  justify-content: space-around;
}

.footer {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
}

.item {
  background-color: #d9e8fb;
  padding: 10px;
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  margin-right: 10px;
}
