body {
  font-family: "Lato", sans-serif;
  background-color: #3e416d;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

input {
  height: 35px;
  margin: 10px;
  border-radius: 10px;
}

form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
}

button {
  height: 35px;
  margin: 10px;
  background-color: #62d76b;
  border-radius: 16px;
}

#form-container {
  text-align: center;
}

#none {
  display: none;
}

#profile-container {
  visibility: hidden;
  color: white;
  text-align: center;
}
