body {
    text-align: center;
  }
  
  h2 {
    margin: 40px 30px 30px 30px;
    background-color: aliceBlue;
    border-radius: 0 30px 30px 0;
  }
  
  img {
    padding: 10px;
    margin: 10px 5px 0 5px;
    background-color: lightBlue;
    width: 100px;
    border-radius: 20px;
  }
  
  button {
    margin: 25px 0 0 0;
    padding: 5px 15px 5px 15px;
    background-color: darkCyan;
    color: white;
    border-radius: 0 30px 30px 0;
  }
  
  p {
    margin: 30px 30px 0 30px;
    padding:  5px 10px 5px 10px;
    background-color: aliceBlue;
    border-radius: 15px 0 15px 0;
  }