#nav {
  display: flex;
  background-color: #de9c51;
  color: #ffffff;
  justify-content: flex-end;
}

#welcome {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
}

#footer {
  display: flex;
  background-color: #303030;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

h1 {
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: sans-serif;
}
